.ui-message {
	color: #312e25;
	font-family: segoe ui, Arial, sans-serif;
	font-size: 1em;
}

.ui-message-body {
	border-radius: 4px;
	padding: 0 0.5em;
}

.ui-message-close {
	opacity: 0.4;
	filter: alpha(opacity=40);
	color: inherit;
	cursor: pointer;
	display: inline-block;
	float: right;
	font-size: 20px;
	font-weight: bold;
	top: -7px;
	position: relative;
	text-decoration: none;
}

.ui-message-close:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.ui-message-icon {
	fill: currentcolor;
	float: left;
	margin-right: 8px;
}

.ui-message-icon svg {
	transform: translate(0,0);
}

/* Add margin if messages more than one */
.ui-message > div:not(:only-child) {
	margin-bottom: 5px;
}

.ui-message-success {
	background: #dff0d8;
	border: 1px solid #d6e9c6;
	color: #468847;
}

.ui-message-info {
	background: #d9edf7;
	border: 1px solid #bce8f1;
	color: #3a87ad;
}

.ui-message-error {
	background: #f2dede;
	border: 1px solid #eed3d7;
	color: #b94a48;
}

.ui-message-alert {
	background: #fff3cd;
	border: 1px solid #ffeeba;
	color: #856404;
}

.ui-pos-window {
	position: absolute;
	width: 50%;
	z-index: 10001;
}

.ui-pos-window .ui-message-body {
	position: relative;
	margin: 8px;
}

.top-left {
	top: 0;
	left: 0;
}

.top-right {
	top: 0;
	right: 0;
}

.top-center {
	top: 0;
	left: 25%;
}

.bottom-left {
	bottom: 0;
	left: 0;
}

.bottom-right {
	bottom: 0;
	right: 0;
}

.bottom-center {
	bottom: 0;
	left: 25%;
}

.center-left {
	top: 50%;
	left: 0;
}

.center-right {
	top: 50%;
	right: 0;
}

.center-center {
	top: 50%;
	left: 25%;
}
