.toolbar-container {
	height: 28px;
}

.editor-toolbar {
	margin: .5em 0 0 0;
	list-style: none;
}

.editor-toolbar li {
	float: left;
	margin: 0 4px 6px 0;
}

.editor-toolbar, .editor textarea {
	width: 100% !important;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.editor textarea {
	height: 300px;
	font-size: 1em;
}

.editor-toolbar > li {
	cursor: pointer;
	display: inline-block;
	height: 16px;
	width: 18px;
}

.editor-toolbar .separator {
	border: none;
	background-color: #CCCCCC;
	display: inline-block;
	height: 16px;
	padding-right: 0 !important;
	width: 2px;
}

.editor-toolbar .h1 {
	background: url("images/default/text_heading_1.png") no-repeat;
}
.editor-toolbar .h2 {
	background: url("images/default/text_heading_2.png") no-repeat;
}
.editor-toolbar .h3 {
	background: url("images/default/text_heading_3.png") no-repeat;
}
.editor-toolbar .h4 {
	background: url("images/default/text_heading_4.png") no-repeat;
}
.editor-toolbar .h5 {
	background: url("images/default/text_heading_5.png") no-repeat;
}
.editor-toolbar .h6 {
	background: url("images/default/text_heading_6.png") no-repeat;
}
.editor-toolbar .bold {
	background: url("images/default/text_bold.png") no-repeat;
}
.editor-toolbar .italic {
	background: url("images/default/text_italic.png") no-repeat;
}
.editor-toolbar .underline {
	background: url("images/default/text_underline.png") no-repeat;
}
.editor-toolbar .ul {
	background: url("images/default/text_list_bullets.png") no-repeat;
}
.editor-toolbar .ol {
	background: url("images/default/text_list_numbers.png") no-repeat;
}
.editor-toolbar .q {
	background: url("images/default/q.png") no-repeat;
}
.editor-toolbar .blockquote {
	background: url("images/default/blockquote.png") no-repeat;
}
.editor-toolbar .font .dropdown-toggle {
	background: url("images/default/text_font.png") no-repeat;
	display: inline-block;
	height: 16px;
	width: 16px;
}
.font-type-list {
	border: 1px solid #ccc;
	cursor: default;
	left: auto !important;
	list-style: none;
	position: absolute;
	padding: 7px 0;
	top: auto !important;
	width: 100px;
}
.font-type-list li {
	clear: both !important;
	cursor: pointer;
	display: list-item;
	margin: 0;
	padding: 2px 6px;
	width: 93%;
}
.font-type-list li:hover {
	background-color: #3875D7;
	background-image: -moz-linear-gradient(center top , #3875D7 20%, #2A62BC 90%);
	color: #FFFFFF;
}
.font-type-list .arial {
	font-family: "Arial", sans-serif !important;
}
.font-type-list .courier-new {
	font-family: "Courier New", sans-serif !important;
}
.font-type-list .georgia {
	font-family: "Georgia", sans-serif !important;
}
.font-type-list .helvetica-neue {
	font-family: "Helvetica Neue", Helvetica, sans-serif !important;
}
.font-type-list .times-new-roman {
	font-family: "Times New Roman", sans-serif !important;
}
.font-type-list .verdana {
	font-family: "Verdana", sans-serif !important;
}
.editor-toolbar .font-size .dropdown-toggle {
	background: url("images/default/text_font_size.png") no-repeat;
	display: inline-block;
	height: 16px;
	width: 16px;
}
.font-size-list {
	border: 1px solid #ccc;
	cursor: default;
	left: auto !important;
	list-style: none;
	padding: 7px 0;
	position: absolute;
	top: auto !important;
	width: 100px;
}
.font-size-list li {
	clear: both !important;
	cursor: pointer;
	display: list-item;
	margin: 0;
	padding: 2px 6px;
	width: 93%;
}
.font-size-list li:hover {
	background-color: #3875D7;
	background-image: -moz-linear-gradient(center top , #3875D7 20%, #2A62BC 90%);
	color: #FFFFFF;
}
.editor-toolbar .change_view {
	background: url("images/default/pilcrow.png") no-repeat;
}
.editor-toolbar .undo {
	background: url("images/default/text_undo.png") no-repeat;
}
.editor-toolbar .redo {
	background: url("images/default/text_redo.png") no-repeat;
}
.editor-toolbar .justifyLeft {
	background: url("images/default/text_align_left.png") no-repeat;
}
.editor-toolbar .justifyCenter {
	background: url("images/default/text_align_center.png") no-repeat;
}
.editor-toolbar .justifyRight {
	background: url("images/default/text_align_right.png") no-repeat;
}
.editor-toolbar .justifyFull {
	background: url("images/default/text_align_justify.png") no-repeat;
}

.wysihtml5-command-active {
	border-bottom: 1px dotted #555;
}
.wysihtml5-action-active {
	border-bottom: 1px dotted #ff0000;
}
.dropdown-menu li.wysihtml5-command-active {
	background-color: #3875D7;
	background-image: -moz-linear-gradient(center top , #3875D7 20%, #2A62BC 90%);
	border-bottom: none;
	color: #FFFFFF;
}
