.red {
	color: red;
}

.gray {
	color: #999;
}

.red-label {
	color: red;
	font-weight: bold;
}

/* override joomla styles */
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
	outline: none !important;
	outline-offset: -2px;
}

/* */

/* override jqueryUI styles: .ui-widget button */
.input-append button {
	font-size: 13px !important;
}

#ui-datepicker-div {
	z-index: 10001 !important;
}

.ui-progressbar {
	position: relative;
}

.ui-menu .ui-menu-item a {
	padding: 2px 0.8em !important;
}

.form-horizontal .controls {
	margin-left: 200px !important;
}

.form-horizontal .settings-paths {
	text-align: right;
}

.nav-tabs a:focus {
	outline: none !important;
}

label.hasTooltip {
	border-bottom: 1px dashed #ddd;
}

.cmd-update-stats {
	margin-left: 1em;
}

/* Styles for icons in movie list */
td.icons-list a {
	margin-top: .2em;
}

td.icons-list a:hover,
td.icons-list a:focus {
	text-decoration: none;
}
/* End */

.flag-dd {
	margin: 0 4px 2px 0;
}

.searchFilter .input-elm {
	width: 300px !important;
}

.searchFilter .error th {
	border: none !important;
	font-weight: normal !important;
	padding: 3px 5px;
}

.toggle-editor {
	float: left !important;
}

.rel-link {
	display: inline-block;
	margin: 5px 0 0 10px;
}

.span12.actors-container, .span12.awards-container {
	margin-left: 0 !important;
	margin-top: 3px;
}

.ajax-loading {
	background: url('../../images/icons/loading.gif') no-repeat left center !important;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.rel-names-dlg label.hasTip, .rel-awards-dlg label.hasTip {
	border-bottom: 1px dashed #fff;
}

.rel-names-dlg a.btn-small, .rel-awards-dlg a.btn-small {
	margin-top: 3px;
}

.form_career, .form_name, .rel-form_name {
	margin-left: 0 !important;
}

#dialog-name-add legend {
	margin-bottom: 8px !important;
}

table .ui-state-highlight {
	height: 1.5em;
	line-height: 1.2em;
}

#articleList .ui-sortable td {
	background: #fff;
}

.sortable-handler {
	display: inline-block;
	padding-top: 4px;
}

.sortable-handler:hover {
	cursor: move;
}

.ui-message a {
	text-decoration: underline;
}

#form_is_actors input, #form_voice_artists input {
	display: inline-block;
	float: none;
	margin-right: 10px;
}

#form_is_actors label, #form_voice_artists label {
	display: inline-block;
	margin-right: 50px;
}

.table.album-list th, .table.album-list td {
	padding: 4px 8px;
}

.table.tracklist thead {
	border-top: none;
}

.table.tracklist th:first-child, .table.tracklist td:first-child {
	border-left: none;
}

.table.tracklist th:last-child, .table.tracklist td:last-child {
	border-right: none;
}

.table.tracklist tr:last-child td {
	border-bottom: none;
}

.table.tracklist {
	margin: 0 !important;
}

a.error_image {
	background: url("../../images/icons/error.png") no-repeat left center;
	padding-left: 20px;
}

a.error_image + a, #screenshot_file.error_image {
	color: red !important;
}

/* Fix for indent */
.gallery-list [class*="span"]:first-child {
	margin-left: 15px !important;
}

.tooltip-img-content {
	background-color: #fff;
	border: 1px solid #ccc;
	display: none;
	position: absolute;
	padding: 4px;
	z-index: 10001;
	*zoom: 1;
}

span.icon {
	cursor: default;
}

#v_sortable, #sub_sortable, #cap_sortable, #chap_sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#v_sortable li, #sub_sortable li, #cap_sortable li, #chap_sortable li {
	height: 1.8em;
	cursor: default;
}

#filelist h3.ui-widget {
	margin: 0;
}

#filelist .files {
	margin-top: 0.5em;
	margin-bottom: 1em;
	padding: 0.2em 0.4em;
}

.t-subtitles {
	margin-right: 0.5em;
}

.video_upload_files {
	margin: 0 3px;
	padding: 0.2em;
	height: 14px;
	cursor: default;
}

.video_screenshot {
	display: inline;
	margin: 0 3px;
	padding: 0.2em;
	height: 14px;
	cursor: default;
}

.urls_form_toolbar {
	margin: 5px 0;
}

.urls_form_toolbar a:hover {
	text-decoration: none;
}

img.movie-poster-preview, img.album-cover-preview {
	padding: 2px;
	height: 110px !important;
	max-width: 110px;
	display: block;
}

img.movie-poster-preview, img.album-cover-preview {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}

#jform_person_list_limit,
#jform_premieres_list_limit,
#jform_releases_list_limit,
#jform_introtext_actors_list_limit,
#jform_slider_min_item,
#jform_slider_max_item {
	border: 0;
	margin: 0;
}

.rel-form_premiere {
	margin-Left: 0 !important;
}

.layout_img_upload {
	display: none;
	padding: 0.2em !important;
}

#list_awards a {
	text-decoration: underline;
}

.divider {
	*width: 100%;
	height: 1px;
	margin: 9px 1px;
	*margin: -5px 0 5px;
	overflow: hidden;
	background-color: #e5e5e5;
	border-bottom: 1px solid #ffffff;
	display: block;
}

.separator label {
	font-weight: bold;
	font-size: 1.1em;
}

.ui-dialog-content .rel-form_award, .ui-dialog-content .form_award,
.ui-dialog-content .rel-form_vendor, .ui-dialog-content .form_vendor,
.ui-dialog-content .rel-form_release, .ui-dialog-content .form_vendor {
	margin-left: 5px !important;
}
