/* Default style */
.loading {
	background: url("../../images/icons/loading.gif") no-repeat center center;
}
.ka-content form {
	margin: 0;
}

.content.movie {
	padding: 5px;
}

.ui-widget {
	font-size: 0.9em !important;
}

.ui-message span {
	margin-top: 0.25em !important;
}

.separator {
	background-color: #eee;
	height: 1px;
	margin: 4px 0;
}

div.clear {
	clear: both;
}

.overlay {
	margin: 1em 2em 1em .5em;
}

.error {
	color: #f12114;
}

.success {
	color: #21b33f;
}

.text-center {
	text-align: center;
}

.hasDesc {
	cursor: pointer;
}

.small {
	color: #aaa;
	font-size: .8em;
}

.ka-content .item {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.poster {
	text-align: center;
}

.poster img {
	border: 1px solid #ccc;
	padding: 2px;
}

.content .poster {
	margin-top: .5em;
	margin-bottom: 1em;
}

.content-list .poster {
	float: left;
}

.content .introtext {
	float: left;
	margin: 0.3em 0.5em 1em 1em;
	width: 78%;
}

@media (max-width: 979px) {
	.content .poster {
		float: none;
	}
}

span.cn-list, span.gn-list, span.dc-list, span.cast-list {
	display: block;
}

.content .links {
	clear: both;
}

.feed-link {
	background: url("../../images/icons/feed_24.png") no-repeat left center;
	height: 24px;
	padding-top: 8px;
	padding-left: 24px;
}

.title {
	font-size: 1.6em;
}

h3.title {
	color: #333;
	font-size: 1em;
	margin-bottom: 1px;
}

.title-small {
	min-height: 16px;
	padding: 4px;
}

.header-small {
	margin-bottom: 4px;
	padding: 4px;
}

.title .brand {
	background: url("../../images/icons/movie_24.png") no-repeat left center;
	padding-left: 28px;
}

.item .meta {
	float: left;
	margin: 0 4px;
}

.item .favorite {
	float: right;
	margin: 0 4px;
}

.favorite a.add {
	background: url("../../images/icons/favorite_add_16.png") no-repeat;
	padding: 0 0 2px 20px;
}

.favorite a.delete {
	background: url("../../images/icons/favorite_delete_16.png") no-repeat;
	padding: 0 0 2px 20px;
}

.watched a.add {
	background: url("../../images/icons/watched_add_16.png") no-repeat;
	padding: 0 0 2px 20px;
}

.watched a.delete {
	background: url("../../images/icons/watched_delete_16.png") no-repeat;
	padding: 0 0 2px 20px;
}

.pagination.top {
	text-align: center;
}

.pagination.bottom {
	text-align: center;
}

.genre-list {
	margin: 1em 0;
}

.genre-list .genre-item {
	border: 1px solid #ccc;
	float: left;
	margin: 2px;
	padding: 2px 6px;
	width: 120px;
}

.tabs a {
	font-size: 1.1em;
	margin-right: .5em;
}

.tabs a.current, .subtabs a.current {
	color: #006699;
	text-decoration: underline;
}

.subtabs {
	margin: -9px 5px 10px 5px !important;
}

.subtabs a {
	margin-right: .5em;
}

.tab-about {
	background: url("../../images/icons/tab_about_16.png") no-repeat left center;
	padding-left: 20px;
}

.tab-reviews {
	background: url("../../images/icons/tab_review_16.png") no-repeat left center;
	padding-left: 20px;
}

.tab-wallpp {
	background: url("../../images/icons/tab_wallpp_16.png") no-repeat left center;
	padding-left: 20px;
}

.tab-posters, .tab-photo {
	background: url("../../images/icons/tab_posters_16.png") no-repeat left center;
	padding-left: 20px;
}

.tab-screenshots {
	background: url("../../images/icons/tab_screenshots_16.png") no-repeat left center;
	padding-left: 20px;
}

.tab-awards {
	background: url("../../images/icons/tab_awards_16.png") no-repeat left center;
	padding-left: 20px;
}

.tab-trailers {
	background: url("../../images/icons/tab_trailers_16.png") no-repeat left center;
	padding-left: 20px;
}

.tab-sound {
	background: url("../../images/icons/tab_sound_16.png") no-repeat left center;
	padding-left: 20px;
}

.tab-favorite {
	background: url("../../images/icons/favorite_16.png") no-repeat left center;
	padding-left: 20px;
}

.tab-watched {
	background: url("../../images/icons/watched_16.png") no-repeat left center;
	padding-left: 20px;
}

.tab-votes {
	background: url("../../images/icons/votes_16.png") no-repeat left center;
	padding-left: 20px;
}

.subtab-movie {
	background: url("../../images/icons/movie_16.png") no-repeat left center;
	padding-left: 20px;
}

.subtab-name {
	background: url("../../images/icons/tab_names_16.png") no-repeat left center;
	padding-left: 20px;
}

.user-profile.favorite .title-small,
.user-profile.watched .title-small,
.user-profile.votes .title-small,
.user-profile.reviews .title-small {
	margin-bottom: 0.4em;
}

.user-profile .total-votes, .user-profile .total-watched, .user-profile .total-favorite, .user-profile .total-reviews {
	margin: 0 5px 5px 5px;
}

.user-profile input[type="checkbox"] {
	margin-top: 0;
	margin-right: 5px;
}

.user-profile #checkall-toggle {
	margin-left: 11px;
}

.user-profile label {
	display: inline-block;
}

.user-profile .timestamp {
	border-top: 1px solid #ccc;
	color: #777;
	margin-top: 5px;
	padding-left: 22px;
}

.user-profile .review {
	margin-left: 22px;
}

.user-profile .wt-list > div:nth-child(even), .user-profile .fav-list > div:nth-child(even) {
	background-color: #f5f5f5;
}

.user-profile .wt-list > div:nth-child(odd):hover, .user-profile .fav-list > div:nth-child(odd):hover {
	background-color: #f5f5f5;
}

.mark-links {
	border-bottom: 1px solid #eee;
	clear: both;
	margin-left: .5em;
	padding-top: .5em;
	padding-bottom: .2em;
	text-align: right;
}

.mark-links div {
	display: inline-block;
	margin-left: .5em;
}

.info .left-col {
	float: left;
	min-width: 128px;
	width: 20%;
}

.info .right-col {
	float: left;
	width: 80%;
}

@media (max-width: 979px) {
	.info .left-col {
		width: 100%;
	}

	.info .right-col {
		width: 100%;
	}
}

.movie-info, .name-info {
	margin-left: .5em;
	padding-top: .5em;
}

.name-info img {
	vertical-align: top;
}

.movie-info > div, .name-info > div {
	border-bottom: 1px solid #eee;
}

.movie-info > div:hover, .name-info > div:hover {
	background: #efefef;
}

.movie-info .f-col, .name-info .f-col {
	display: inline-block;
	margin: 2px;
	min-width: 128px;
	padding: 2px 4px;
	width: 25%;
}

.movie-info .s-col, .name-info .s-col {
	border-left: 1px solid #eee;
	display: inline-block;
	margin: 2px;
	overflow: hidden;
	padding: 2px 2px 2px 8px;
	vertical-align: top;
	word-wrap: break-word;
	overflow-wrap: break-word;
	/*width: 68.5%;*/
}

.movie-info .s-col a:after {
	/*content: '&#8203;';*/
}

/* Quote style */
span[lang|=ar] q:before { content: "\00AB"; }
span[lang|=ar] q:after { content: "\00BB"; }
span[lang=bg] q:before { content: "\201E"; }
span[lang=bg] q:after { content: "\201C"; }
span[lang=ca] q:before { content: "\00AB"; }
span[lang=ca] q:after { content: "\00BB"; }
span[lang=cs] q:before { content: "\201E"; }
span[lang=cs] q:after { content: "\201C"; }
span[lang=da] q:before { content: "\00BB"; }
span[lang=da] q:after { content: "\00AB"; }
span[lang=de] q:before { content: "\201E"; }
span[lang=de] q:after { content: "\201C"; }
span[lang=el] q:before { content: "\00AB"; }
span[lang=el] q:after { content: "\00BB"; }
span[lang=en] q:before { content: "\201C"; }
span[lang=en] q:after { content: "\201D"; } 
span[lang=eo] q:before { content: "\201C"; }
span[lang=eo] q:after { content: "\201D"; }
span[lang=es] q:before { content: "\00AB"; }
span[lang=es] q:after { content: "\00BB"; }
span[lang=fa] q:before { content: "\00AB"; }
span[lang=fa] q:after { content: "\00BB"; }
span[lang=fi] q:before { content: "\201D"; }
span[lang=fi] q:after { content: "\201D"; }
span[lang=fr] q:before { content: "\00AB\00A0"; white-space: nowrap;}
span[lang=fr] q:after { content: "\00A0\00BB"; white-space: nowrap;} 
span[lang=hr] q:before { content: "\00BB"; }
span[lang=hr] q:after { content: "\00AB"; }
span[lang=hu] q:before { content: "\201E"; }
span[lang=hu] q:after { content: "\201D"; }
span[lang=hy] q:before { content: "\00AB"; }
span[lang=hy] q:after { content: "\00BB"; }
span[lang=id] q:before { content: "\201C"; }
span[lang=id] q:after { content: "\201D"; }
span[lang=it] q:after { content: "\00BB"; }
span[lang=it] q:before { content: "\00AB"; }
span[lang=ja] q:before { content: "\300C"; }
span[lang=ja] q:after { content: "\300D"; }
span[lang=ko] q:before { content: "\201C"; }
span[lang=ko] q:after { content: "\201D"; }
span[lang=lt] q:before { content: "\201E"; }
span[lang=lt] q:after { content: "\201C"; }
span[lang=nl] q:before { content: "\201E"; }
span[lang=nl] q:after { content: "\201D"; }
span[lang=nb] q:before { content: "\00AB"; }
span[lang=nb] q:after { content: "\00BB"; }
span[lang=no] q:before { content: "\00AB"; }
span[lang=no] q:after { content: "\00BB"; }
span[lang=pl] q:before { content: "\201E"; }
span[lang=pl] q:after { content: "\201D"; }
span[lang=pt] q:before { content: "\201C"; }
span[lang=pt] q:after { content: "\201D"; }
span[lang=ro] q:before { content: "\201E"; }
span[lang=ro] q:after { content: "\201D"; }
span[lang=ru] q:before { content: "\00AB"; }
span[lang=ru] q:after { content: "\00BB"; }
span[lang=sk] q:before { content: "\201E"; }
span[lang=sk] q:after { content: "\201C"; }
span[lang=sl] q:before { content: "\201E"; }
span[lang=sl] q:after { content: "\201C"; }
span[lang=sv] q:before { content: "\201D"; }
span[lang=sv] q:after { content: "\201D"; }
span[lang=tr] q:before { content: "\00AB"; }
span[lang=tr] q:after { content: "\00BB"; }
span[lang=uk] q:before { content: "\00AB"; }
span[lang=uk] q:after { content: "\00BB"; }
span[lang=zh-cn] q:before { content: "\201C"; }
span[lang=zh-cn] q:after { content: "\201D"; }
span[lang=zh-hk] q:before { content: "\300C"; }
span[lang=zh-hk] q:after { content: "\300D"; }
span[lang=zh-tw] q:before { content: "\300C"; }
span[lang=zh-tw] q:after { content: "\300D"; }
span[lang=vi] q:before { content: "\00AB"; }
span[lang=vi] q:after { content: "\00BB"; }
/* End quote style */

.introtext .ui-icon-country, .movie-info .ui-icon-country {
	vertical-align: baseline;
}

.name-info .ui-icon-country {
	vertical-align: baseline;
}

.ui-icon-next {
	background: url("../../images/icons/arrow_right_16.png") no-repeat;
	padding-left: 18px;
}

.ui-icon-bullet-arrow-down {
	background: url("../../images/icons/bullet_arrow_down_16.png") no-repeat;
	padding-left: 18px;
}

.premiere-info {
	display: none;
}

.mpaa-desc, .rrate-desc, .uarate-desc {
	display: none;
}

.mpaa-icon {
	background: rgb(240, 240, 240);
	background: -moz-linear-gradient(270deg, rgb(240, 240, 240) 30%, rgb(255, 255, 255) 70%);
	background: -webkit-linear-gradient(270deg, rgb(240, 240, 240) 30%, rgb(255, 255, 255) 70%);
	background: -o-linear-gradient(270deg, rgb(240, 240, 240) 30%, rgb(255, 255, 255) 70%);
	background: -ms-linear-gradient(270deg, rgb(240, 240, 240) 30%, rgb(255, 255, 255) 70%);
	background: linear-gradient(0deg, rgb(240, 240, 240) 30%, rgb(255, 255, 255) 70%);
	border: 1px solid #333333;
	font-size: 0.8em;
	height: 1em;
	line-height: 110%;
	padding: 2px;
	text-align: center;
	width: 32px;
}

.mpaa-icon:hover {
	-webkit-box-shadow: 0 0 2px rgba(150, 150, 150, 0.75);
	-moz-box-shadow: 0 0 2px rgba(150, 150, 150, 0.75);
	box-shadow: 0 0 2px rgba(150, 150, 150, 0.75);
	cursor: pointer;
}

.rrate-icon {
	background: rgb(240, 240, 240);
	background: -moz-linear-gradient(270deg, rgb(240, 240, 240) 30%, rgb(255, 255, 255) 70%);
	background: -webkit-linear-gradient(270deg, rgb(240, 240, 240) 30%, rgb(255, 255, 255) 70%);
	background: -o-linear-gradient(270deg, rgb(240, 240, 240) 30%, rgb(255, 255, 255) 70%);
	background: -ms-linear-gradient(270deg, rgb(240, 240, 240) 30%, rgb(255, 255, 255) 70%);
	background: linear-gradient(0deg, rgb(240, 240, 240) 30%, rgb(255, 255, 255) 70%);
	border: 1px solid #333333;
	font-size: 0.8em;
	height: 1em;
	line-height: 110%;
	padding: 2px;
	text-align: center;
	width: 32px;
}

.rrate-icon:hover {
	-webkit-box-shadow: 0 0 2px rgba(150, 150, 150, 0.75);
	-moz-box-shadow: 0 0 2px rgba(150, 150, 150, 0.75);
	box-shadow: 0 0 2px rgba(150, 150, 150, 0.75);
	cursor: pointer;
}

.uar-icon {
	display: inline-block;
}

.uar-icon:hover {
	-webkit-box-shadow: 0 0 2px rgba(150, 150, 150, 0.75);
	-moz-box-shadow: 0 0 2px rgba(150, 150, 150, 0.75);
	box-shadow: 0 0 2px rgba(150, 150, 150, 0.75);
	cursor: pointer;
}

.uar-icon-0 {
	background: none repeat scroll 0 0 green;
	border-radius: 50% 50% 50% 50%;
	height: 1em;
	width: 1em;
}

.uar-icon-1 {
	border-bottom: 1em solid #f4e95d;
	border-left: .7em solid transparent;
	border-right: .7em solid transparent;
	height: 0;
	width: 0;
}

.uar-icon-2 {
	background: #ff3300;
	border: 1px solid #fff;
	font-size: 0.8em;
	height: 1em;
	line-height: 110%;
	padding: 2px;
	width: 1em;
}

.uar-icon:hover {
	cursor: pointer;
}

div.rating {
	float: left;
	margin-right: .5em;
}

.known, .plot, .desc, .reviews, .movies-list, .urls {
	margin-top: 1em;
}

.info .title {
	margin-bottom: 1em;
}

.plot .title, .known .title, .reviews .title, .info .title, .desc .title, .r-row .title {
	margin-bottom: .4em;
	padding: 4px 6px;
}

.plot .content, .known .content, .desc .content, .r-row .content, .movies-list .content, .urls .content {
	padding: 0 6px;
}

.review-row-title {
	font-weight: bold;
	padding: 4px 6px;
}

.review-row-title img {
	vertical-align: middle;
}

.review-row-title .number {
	background: url("../../images/icons/comment_16.png") no-repeat;
	padding-left: 18px;
}

.review-row-title .date {
	float: right;
}

.review-row .review {
	background: none;
	border-top: none;
	padding: 4px 6px;
}

.review-row .footer {
	border-top: none;
	margin-bottom: .8em;
	padding: 4px 6px;
}

.cmd-insert-username:hover {
	cursor: pointer;
	text-decoration: underline;
}

.desc .ui-accordion-content {
	padding: 5px;
}

#open-desc span.ui-icon {
	display: inline-block;
	margin-left: 4px;
	vertical-align: middle;
}

.header-small .dub {
	float: right;
}

.cast-row {
	border-bottom: 1px solid #eee;
	min-height: 84px;
	padding: 3px;
}

.cast-row-col-left {
	float: left;
	width: 49.5%;
}

.cast-row-col-left.fullwidth {
	float: left;
	width: 100%;
}

.cast-row-col-left .actor-photo {
	float: left;
	margin-right: 0.5em;
}

.cast-row-col-right .actor-dub-photo {
	float: right;
	margin-left: 0.5em;
}
.cast-row-col-right .actor-dub-info {
	text-align: right;
}
.cast-row-col-right .actor-dub-info .actor-desc {
	text-align: left;
}

.cast-row-col-right {
	float: right;
	width: 49.5%;
}

.cast-row:hover {
	background: #f5f5f5;
	border-bottom: 1px solid #eee;
}

.cast-row .number, .cast-row .photo, .cast-row .actor, .cast-row .actor-dub {
	display: inline-block;
	vertical-align: top;
}

.cast-row .number {
	min-width: 20px;
}

.cast-row .photo {
	border: 1px solid #ccc;
	max-width: 134px;
	min-height: 64px;
	min-width: 64px;
	padding: 2px;
	position: relative;
	text-align: center;
}

.cast-row .actor {
	margin-left: 0.4em;
}

.cast-row .actor-dub {
	float: right;
}

.cast-row .actor-dub .photo {
	margin-left: 0.4em;
}

.cast-row .actor-desc {
	color: #777;
	overflow: hidden;
}

.ratings {
	margin: 2em 0;
}

.ratings span.a {
	font-size: 1em;
}

.ratings span.b {
	font-size: 1em;
}

#rate-imdb, #rate-kp, #rate-rt, #rate-mc {
	display: inline-block;
	margin-right: 1em;
}

#tr_accordion .accordion-inner, #movie_accordion .accordion-inner {
	padding: 0;
}

.video-responsive {
	position: relative;
	/*padding-bottom: 75%;*/
	/*padding-bottom: 56.25%;*/
	height: 0;
	overflow: hidden;
}

.video-responsive video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}

/* Do not remove if you using a template other than the default template. */
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

#review-form .select-type label, #review-form .select-type select {
	float: left;
}

#review-form .select-type label {
	margin-top: 4px;
	margin-right: 8px;
}

#review-form .editor-container {
	margin-right: 2px;
}

.thumb {
	float: left;
	margin: 8px 2px;
}

.posters-list .item {
	background-color: #f5f5f5;
	display: table-cell;
	width: 128px;
	height: 195px;
	margin: 2px;
	overflow: hidden;
	padding: 0 4px 4px;
	text-align: center;
	vertical-align: middle;
}

.posters-list .thumb {
	min-height: 240px;
}

.photos-list .item {
	background-color: #f5f5f5;
	display: table-cell;
	width: 128px;
	height: 200px;
	margin: 2px;
	overflow: hidden;
	padding: 0 4px 4px;
	text-align: center;
	vertical-align: middle;
}

.wp-list .item {
	background-color: #f5f5f5;
	display: table-cell;
	min-height: 150px;
	width: 200px;
	height: 155px;
	margin: 2px;
	overflow: hidden;
	padding: 0 4px 4px;
	text-align: center;
	vertical-align: middle;
}

.scr-list .item {
	display: table-cell;
	min-height: 110px;
	width: 200px;
	height: 115px;
	margin: 2px;
	overflow: hidden;
	padding: 0 4px 4px;
	text-align: center;
	vertical-align: middle;
}

.list-filter label {
	float: left;
	padding-top: 6px;
	margin-right: 1em;
}

.list-filter select {
	float: left;
}

.thumb .item a {
	display: inline-block;
}

.thumb ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.thumb ul li {
	font-size: .8em;
	padding: 2px;
}

.thumb li.size {
	background: url("../../images/icons/bullet_picture.png") no-repeat left center;
	padding-left: 16px;
}

.flag-dd {
	margin: 0 4px 2px 0;
}

.rate {
	margin: 2em 0;
}

.v-list .rate {
	margin: 0.5em 0 0 0;
}

.v-list .item-row {
	border-bottom: 1px solid #ccc;
	padding: 5px;
}

.v-list .item-row > div a {
	font-weight: bold;
}

.user-profile .v-list > div:hover {
	background-color: #f5f5f5;
}

.rate_loc_my {
}

.rate_loc_total {
	float: right;
}

.filter-fields-title {
	cursor: pointer;
}

.filter-fields {
	display: none;
}

#s2id_filter_career, #s2id_filter_genre {
	float: left;
}

#filter_genre {
	margin-left: 5px;
}

.filter-submit {
	float: left;
	margin: 2px 1px 0 5px;
}

.filter-clear {
	float: left;
	margin: 2px 1px 0 0;
}

.filter-clear:active {
	outline: none !important;
}

#cboxContent div.desc, #cboxContent div.list {
	margin: 1em;
}

.movies-list .item {
	border-bottom: 1px dashed #ccc;
	margin: .5em 0;
	padding: .2em 0;
}

.movies-list .item .number {
	float: left;
	width: 2em;
}

.movies-list .item .data {
	float: left;
}

.ratings a {
	display: inline-block;
}

.ratings img {
	margin-bottom: 5px;
}

.ratings-frontpage a {
	text-decoration: none !important;
}

.local-rt {
	display: inline-block;
}

.local-rt.has-rating {
	padding-top: 5px;
	vertical-align: middle !important;
}

.local-rt.no-rating {
	vertical-align: top !important;
}

.trailer .ui-accordion-content {
	border-left: 0;
	border-right: 0;
	padding: 0;
}

.video-links {
	padding: 2px 4px;
}

.video-links .title {
	font-size: 1.1em;
}

.flowplayer .fp-logo {
	display: block;
	opacity: 1;
}

.form-horizontal .control-label {
	text-align: left !important;
	margin-right: 5px;
}

.selectlist-releases .inputbox {
	margin: 0;
}

.selectlist-releases .btn-group {
	display: inline-block;
}

.introtext.hasPremiere {
	width: 58%;
}

/* Rule below fixes the problem of translation ellipsis on a new line at the end of the text block. */
.introtext .plot p, .introtext .plot div {
	display: inline;
}

.premiere-date {
	float: left;
	font-family: Cambria, Georgia, Droid Serif, serif;
	margin: 0.3em 0.5em 1em 1em;
	text-align: center;
	width: 17%;
}

.premiere-date .date {
	font-size: 4.5em;
	line-height: 120%
}

.premiere-date .month {
	font-size: 1.7em;
	line-height: 120%
}

.premiere-date .vendor {
	font-size: 1em;
}

.alphabet-nav {
	text-align: center;
}

.alphabet-nav .btn-group, .alphabet-nav .uk-button-group {
	white-space: normal;
}

.screenshot-slider {
	padding: 0 5px;
}

.search_movies_rate_min, .search_movies_rate_max,
.search_movies_imdbrate_min, .search_movies_imdbrate_max,
.search_movies_kprate_min, .search_movies_kprate_max,
.search_movies_rtrate_min, .search_movies_rtrate_max,
.search_movies_metacritic_min, .search_movies_metacritic_max {
	height: 18px;
	margin: 0;
	width: 30%;
	max-width: 31%;
}

#search_form {
	padding: 1em;
}

/* Need to search form "did not jump" on the main page */
.adv-search #search_form {
	display: none;
}

#search_form .advsearch-movies {
	margin: 0;
}

#filters_movies .search-rate-slider {
	margin-top: 4px;
}

.release-table {
	 table-layout: fixed;
 }
