<?xml version="1.0" encoding="utf-8"?>
<form>
	<fieldset name="global" label="COM_KA_SETTINGS_SETTINGS_LABEL">
		<field name="offline" type="radio" class="btn-group" default="0" label="COM_KA_FIELD_SETTINGS_GLOBAL_OFFLINE_LABEL" description="COM_KA_FIELD_SETTINGS_GLOBAL_OFFLINE_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="allow_votes" type="radio" class="btn-group" default="1" label="COM_KA_FIELD_SETTINGS_GLOBAL_ALLOW_VOTES_LABEL" description="COM_KA_FIELD_SETTINGS_GLOBAL_ALLOW_VOTES_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="sort_movielist_field" type="list" class="inputbox" default="ordering" label="COM_KA_FIELD_SETTINGS_GLOBAL_ORDERING_MOVIES_LABEL" description="COM_KA_FIELD_SETTINGS_GLOBAL_ORDERING_LABEL" filter="string">
			<option value="id">JGLOBAL_FIELD_ID_LABEL</option>
			<option value="title">JFIELD_TITLE_DESC</option>
			<option value="year">COM_KA_FIELD_MOVIE_YEAR</option>
			<option value="created">JGLOBAL_CREATED_DATE</option>
			<option value="ordering">JFIELD_ORDERING_LABEL</option>
		</field>
		<field name="sort_movielist_ord" type="radio" class="btn-group" default="desc" label="" filter="string">
			<option value="desc">JGLOBAL_ORDER_DESCENDING</option>
			<option value="asc">JGLOBAL_ORDER_ASCENDING</option>
		</field>
		<field name="sort_namelist_field" type="list" class="inputbox" default="ordering" label="COM_KA_FIELD_SETTINGS_GLOBAL_ORDERING_NAMES_LABEL" description="COM_KA_FIELD_SETTINGS_GLOBAL_ORDERING_LABEL" filter="string">
			<option value="id">ID</option>
			<option value="name">COM_KA_FIELD_NAME</option>
			<option value="latin_name">COM_KA_FIELD_NAME_LATIN</option>
			<option value="ordering">JFIELD_ORDERING_LABEL</option>
		</field>
		<field name="sort_namelist_ord" type="radio" class="btn-group" default="desc" label="" filter="string">
			<option value="desc">JGLOBAL_ORDER_DESCENDING</option>
			<option value="asc">JGLOBAL_ORDER_ASCENDING</option>
		</field>
		<field name="filters_frontpage" type="radio" class="btn-group" default="1" label="COM_KA_FIELD_SETTINGS_GLOBAL_FILTERS_LABEL" description="COM_KA_FIELD_SETTINGS_GLOBAL_FILTERS_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="filter_genres" type="genre" default="0" label="COM_KA_FIELD_SETTINGS_GLOBAL_FILTERS_GENRE_LABEL" description="COM_KA_FIELD_SETTINGS_GLOBAL_FILTERS_GENRE_LABEL_DESC" filter="array" multiple="true" class="span11" />
		<field name="filter_names" type="career" default="0" label="COM_KA_FIELD_SETTINGS_GLOBAL_FILTERS_CAREER_LABEL" description="COM_KA_FIELD_SETTINGS_GLOBAL_FILTERS_CAREER_LABEL_DESC" filter="array" multiple="true" class="span11" />
		<field name="logger" type="list" class="inputbox" default="php" label="COM_KA_FIELD_SETTINGS_GLOBAL_LOGGER_LABEL" description="COM_KA_FIELD_SETTINGS_GLOBAL_LOGGER_LABEL_DESC" filter="word">
			<option value="php">PHP</option>
			<option value="syslog">System</option>
		</field>
		<field name="allow_guest_watch" type="radio" class="btn-group" default="0" label="COM_KA_FIELD_SETTINGS_GLOBAL_GUEST_WATCH_LABEL" description="COM_KA_FIELD_SETTINGS_GLOBAL_GUEST_WATCH_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="allow_movie_download" type="radio" class="btn-group" default="0" label="COM_KA_FIELD_SETTINGS_GLOBAL_MOVIE_DL_LABEL" description="COM_KA_FIELD_SETTINGS_GLOBAL_MOVIE_DL_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	<fieldset name="metadata" label="COM_KA_SETTINGS_META_LABEL">
		<field name="meta_description" type="textarea" label="COM_KA_FIELD_META_LABEL" description="COM_KA_FIELD_META_LABEL_DESC" filter="string" cols="60" rows="3" class="span11" />
		<field name="meta_keywords" type="textarea" label="COM_KA_FIELD_METAKEY_LABEL" description="COM_KA_FIELD_METAKEY_LABEL_DESC" filter="string" cols="60" rows="3" class="span11" />
		<field name="robots" type="list" label="JFIELD_METADATA_ROBOTS_LABEL" description="JFIELD_METADATA_ROBOTS_DESC" class="inputbox" default="">
			<option value="">JGLOBAL_INDEX_FOLLOW</option>
			<option value="noindex, follow">JGLOBAL_NOINDEX_FOLLOW</option>
			<option value="index, nofollow">JGLOBAL_INDEX_NOFOLLOW</option>
			<option value="noindex, nofollow">JGLOBAL_NOINDEX_NOFOLLOW</option>
		</field>
		<field name="generator" type="text" default="" label="COM_KA_FIELD_METAGENERATOR_LABEL" description="COM_KA_FIELD_METAGENERATOR_LABEL_DESC" filter="string" size="50" />
	</fieldset>
	<fieldset name="paths" label="COM_KA_PATHS_LABEL">
		<field type="spacer" name="path_warning" label="COM_KA_PATHS_LABEL_WARN" class="red" />
		<field name="ffmpeg_path" type="text" default="bin/ffmpeg/" label="COM_KA_FIELD_PATHS_FFMPEG_LABEL" description="COM_KA_FIELD_PATHS_ROOT_LABEL_DESC" required="true" filter="string" size="100" class="span11" />
		<field name="ffprobe_path" type="text" default="bin/ffmpeg/" label="COM_KA_FIELD_PATHS_FFPROBE_LABEL" description="COM_KA_FIELD_PATHS_ROOT_LABEL_DESC" required="true" filter="string" size="100" class="span11" />
		<field name="def_cache" type="text" default="cache/kinoarhiv/DefinitionCache/Serializer/" label="COM_KA_FIELD_PATHS_CACHE_LABEL" description="COM_KA_FIELD_PATHS_ROOT_LABEL_DESC" required="true" filter="string" size="100" class="span11" />

		<field name="media_posters_root" type="text" default="images/movies" label="COM_KA_FIELD_PATHS_PO_LABEL" description="COM_KA_FIELD_PATHS_ROOT_LABEL_DESC" required="true" filter="string" size="100" class="span11" />
		<field name="media_posters_root_www" type="text" default="" label="COM_KA_FIELD_PATHS_PO_WWW_LABEL" description="COM_KA_FIELD_PATHS_ROOT_WWW_LABEL_DESC" required="true" filter="string" size="100" class="span11" />

		<field name="media_wallpapers_root" type="text" default="images/movies" label="COM_KA_FIELD_PATHS_WP_LABEL" description="COM_KA_FIELD_PATHS_ROOT_WWW_LABEL_DESC" required="true" filter="string" size="100" class="span11" />
		<field name="media_wallpapers_root_www" type="text" default="" label="COM_KA_FIELD_PATHS_WP_WWW_LABEL" description="COM_KA_FIELD_PATHS_ROOT_WWW_LABEL_DESC" required="true" filter="string" size="100" class="span11" />

		<field name="media_scr_root" type="text" default="images/movies" label="COM_KA_FIELD_PATHS_SCR_LABEL" description="COM_KA_FIELD_PATHS_ROOT_LABEL_DESC" required="true" filter="string" size="100" class="span11" />
		<field name="media_scr_root_www" type="text" default="" label="COM_KA_FIELD_PATHS_SCR_WWW_LABEL" description="COM_KA_FIELD_PATHS_ROOT_WWW_LABEL_DESC" required="true" filter="string" size="100" class="span11" />

		<field name="media_actor_photo_root" type="text" default="images/names" label="COM_KA_FIELD_PATHS_PHOTO_LABEL" description="COM_KA_FIELD_PATHS_ROOT_LABEL_DESC" required="true" filter="string" size="100" class="span11" />
		<field name="media_actor_photo_root_www" type="text" default="" label="COM_KA_FIELD_PATHS_PHOTO_WWW_LABEL" description="COM_KA_FIELD_PATHS_ROOT_WWW_LABEL_DESC" required="true" filter="string" size="100" class="span11" />

		<field name="media_actor_wallpapers_root" type="text" default="images/names" label="COM_KA_FIELD_PATHS_WP_NAMES_LABEL" description="COM_KA_FIELD_PATHS_ROOT_LABEL_DESC" required="true" filter="string" size="100" class="span11" />
		<field name="media_actor_wallpapers_root_www" type="text" default="" label="COM_KA_FIELD_PATHS_WP_NAMES_WWW_LABEL" description="COM_KA_FIELD_PATHS_ROOT_WWW_LABEL_DESC" required="true" filter="string" size="100" class="span11" />

		<field name="media_trailers_root" type="text" default="downloads/trailers" label="COM_KA_FIELD_PATHS_TR_LABEL" description="COM_KA_FIELD_PATHS_ROOT_LABEL_DESC" required="true" filter="string" size="100" class="span11" />
		<field name="media_trailers_root_www" type="text" default="" label="COM_KA_FIELD_PATHS_TR_WWW_LABEL" description="COM_KA_FIELD_PATHS_ROOT_WWW_LABEL_DESC" required="true" filter="string" size="100" class="span11" />

		<field name="media_rating_image_root" type="text" default="images/rating" label="COM_KA_FIELD_PATHS_RT_LABEL" description="COM_KA_FIELD_PATHS_ROOT_LABEL_DESC" required="true" filter="string" size="100" class="span11" />
		<field name="media_rating_image_root_www" type="text" default="images/rating" label="COM_KA_FIELD_PATHS_RT_WWW_LABEL" description="COM_KA_FIELD_PATHS_ROOT_LABEL_DESC" required="true" filter="string" size="100" class="span11" />
	</fieldset>
	<fieldset name="gallery" label="COM_KA_SETTINGS_GALLERY_LABEL">
		<field name="upload_limit" type="text" default="10mb" label="COM_KA_FIELD_UPLOAD_LIMIT_LABEL" description="COM_KA_FIELD_UPLOAD_LIMIT_LABEL_DESC" required="true" filter="string" size="32" />
		<field name="upload_mime_video" type="text" default="h264,mp4,mp4v,mpg4,mpeg,mpg,ogv,qt,mov,wmv,avi,mpd,mkv" label="COM_KA_FIELD_UPLOAD_MIME_VIDEO_LABEL" required="true" filter="string" size="64" class="span6" />
		<field name="upload_mime_subtitles" type="text" default="vtt,sub,sup,txt,xml,mks,cue" label="COM_KA_FIELD_UPLOAD_MIME_SUBTITLES_LABEL" required="true" filter="string" size="64" class="span6" />
		<field name="upload_mime_chapters" type="text" default="vtt,sub,sup,txt,xml,mks,cue" label="COM_KA_FIELD_UPLOAD_MIME_CHAPTERS_LABEL" required="true" filter="string" size="64" class="span6" />
		<field name="upload_mime_images" type="text" default="jpg,jpeg,png,gif" label="COM_KA_FIELD_UPLOAD_MIME_IMAGES_LABEL" required="true" filter="string" size="64" class="span6" />

		<field name="upload_chunk" type="radio" class="btn-group" default="1" label="COM_KA_FIELD_UPLOAD_CHUNK_LABEL" description="COM_KA_FIELD_UPLOAD_CHUNK_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="upload_chunk_size" type="text" default="1mb" label="COM_KA_FIELD_UPLOAD_CHUNK_LIMIT_LABEL" description="COM_KA_FIELD_UPLOAD_CHUNK_LIMIT_LABEL_DESC" required="true" filter="string" size="32" />

		<field name="upload_gallery_watermark_image_on" type="radio" class="btn-group" default="0" label="COM_KA_FIELD_UPLOAD_WATERMARK_IMAGE_ON_LABEL" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="upload_gallery_watermark_image" type="text" default="" label="COM_KA_FIELD_UPLOAD_WATERMARK_IMAGE_LABEL" description="COM_KA_FIELD_UPLOAD_WATERMARK_LABEL_DESC" filter="string" size="100" class="span11" />
	</fieldset>
	<fieldset name="ap_global" label="COM_KA_APPEARANCE_SETTINGS_LABEL">
		<field name="ka_theme" type="folderlist" default="default" directory="components/com_kinoarhiv/assets/themes/component/" label="COM_KA_FIELD_AP_KA_THEME_LABEL" description="COM_KA_FIELD_AP_KA_THEME_LABEL_DESC" hide_none="true" filter="" />
		<field name="ui_theme" type="folderlist" default="ui-lightness" directory="components/com_kinoarhiv/assets/themes/ui/" label="COM_KA_FIELD_AP_UI_THEME_LABEL" description="COM_KA_FIELD_AP_UI_THEME_LABEL_DESC" filter="" />
	</fieldset>
	<fieldset name="ap_item" label="COM_KA_SETTINGS_AP_ITEM_LABEL">
		<field name="show_pubdate" type="radio" class="btn-group" default="1" label="COM_KA_FIELD_AP_PUBDATE_LABEL" description="COM_KA_FIELD_AP_PUBDATE_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="show_moddate" type="radio" class="btn-group" default="1" label="COM_KA_FIELD_AP_MODDATE_LABEL" description="COM_KA_FIELD_AP_MODDATE_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="limit_text" type="text" default="250" label="COM_KA_FIELD_AP_LIMITTEXT_LABEL" description="COM_KA_FIELD_AP_LIMITTEXT_LABEL_DESC" required="true" filter="integer" size="6" />
		<field name="person_list_limit" type="text" default="3" label="COM_KA_FIELD_AP_LIMIT_PERSONLIST_LABEL" description="COM_KA_FIELD_AP_LIMIT_PERSONLIST_LABEL_DESC" required="true" filter="integer" size="6" />

		<field name="size_x_posters" type="text" default="128" label="COM_KA_FIELD_AP_POSTER_WIDTH_LABEL" description="COM_KA_FIELD_AP_IMG_WIDTH_LABEL_DESC" required="true" filter="integer" size="6" />
		<field name="size_x_scr" type="text" default="200" label="COM_KA_FIELD_AP_SCR_WIDTH_LABEL" description="COM_KA_FIELD_AP_IMG_WIDTH_LABEL_DESC" required="true" filter="integer" size="6" />
		<field name="size_x_wallpp" type="text" default="200" label="COM_KA_FIELD_AP_WP_WIDTH_LABEL" description="COM_KA_FIELD_AP_IMG_WIDTH_LABEL_DESC" required="true" filter="integer" size="6" />
		<field name="player_width" type="text" default="688" label="COM_KA_FIELD_AP_PLAYER_WIDTH_LABEL" description="COM_KA_FIELD_AP_IMG_WIDTH_LABEL_DESC" required="true" filter="integer" size="6" />
		<field name="player_type" type="folderlist" default="mediaelement" directory="components/com_kinoarhiv/assets/js/players" label="COM_KA_FIELD_AP_PLAYER_TYPE_LABEL" description="COM_KA_FIELD_AP_PLAYER_TYPE_LABEL_DESC" />
	</fieldset>
	<fieldset name="ap_rate" label="COM_KA_SETTINGS_AP_RATE_LABEL">
		<field name="vote_summ_num" type="text" default="10" label="COM_KA_FIELD_AP_VOTE_NUM_LABEL" description="COM_KA_FIELD_AP_VOTE_NUM_LABEL_DESC" required="true" filter="integer" size="6" />
		<field name="vote_summ_precision" type="text" default="2" label="COM_KA_FIELD_AP_VOTE_PRECISION_LABEL" description="COM_KA_FIELD_AP_VOTE_PRECISION_LABEL_DESC" required="true" filter="integer" size="6" />
		<field name="ratings_show_frontpage" type="radio" class="btn-group" default="1" label="COM_KA_FIELD_AP_RATE_FRONTPAGE_LABEL" description="COM_KA_FIELD_AP_RATE_FRONTPAGE_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="ratings_show_img" type="radio" class="btn-group" default="1" label="COM_KA_FIELD_AP_RATE_AS_IMG_LABEL" description="COM_KA_FIELD_AP_RATE_AS_IMG_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="ratings_img_kp_remote" type="radio" class="btn-group" default="1" label="COM_KA_FIELD_AP_RATE_KP_IMG_REMORE_LABEL" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	<fieldset name="ap_nav" label="COM_KA_SETTINGS_AP_NAVGLOBAL_LABEL">
		<field name="show_feed_link" type="radio" class="btn-group" default="0" label="COM_KA_FIELD_AP_LNK_FEED_LABEL" description="COM_KA_FIELD_AP_LNK_FEED_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="link_favorite" type="radio" class="btn-group" default="1" label="COM_KA_FIELD_AP_LNK_FAV_LABEL" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="link_watched" type="radio" class="btn-group" default="1" label="COM_KA_FIELD_AP_LNK_WATCHED_LABEL" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="tabbar_frontpage" type="radio" class="btn-group" default="0" label="COM_KA_FIELD_AP_TAB_FRONTPAGE_LABEL" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="pagevan_top" type="radio" class="btn-group" default="0" label="COM_KA_FIELD_AP_PAGENAV_TOP_LABEL" description="COM_KA_FIELD_AP_PAGENAV_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="pagevan_bottom" type="radio" class="btn-group" default="1" label="COM_KA_FIELD_AP_PAGENAV_BOTTOM_LABEL" description="COM_KA_FIELD_AP_PAGENAV_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="watch_trailer_button" type="radio" class="btn-group" default="0" label="COM_KA_FIELD_AP_BUTTON_TR_LABEL" description="COM_KA_FIELD_AP_BUTTON_TR_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="watch_movie_button" type="radio" class="btn-group" default="0" label="COM_KA_FIELD_AP_BUTTON_MOVIE_LABEL" description="COM_KA_FIELD_AP_BUTTON_MOVIE_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	<fieldset name="reviews" label="COM_KA_REVIEWS_SETTINGS_LABEL">
		<field name="allow_reviews" type="radio" class="btn-group" default="1" label="COM_KA_FIELD_ALLOWREVIEWS_LABEL" description="COM_KA_FIELD_ALLOWREVIEWS_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="show_reviews" type="radio" class="btn-group" default="1" label="COM_KA_FIELD_SHOWREVIEWS_LABEL" description="COM_KA_FIELD_SHOWREVIEWS_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="reviews_length_min" type="text" default="20" label="COM_KA_FIELD_REVIEWS_LENGTH_MIN_LABEL" description="COM_KA_FIELD_REVIEWS_LENGTH_MIN_LABEL_DESC" required="true" filter="integer" size="6" />
		<field name="reviews_length_max" type="text" default="5000" label="COM_KA_FIELD_REVIEWS_LENGTH_MAX_LABEL" description="COM_KA_FIELD_REVIEWS_LENGTH_MAX_LABEL_DESC" required="true" filter="integer" size="6" />
		<field name="html_allowed_tags" type="textarea" default="br,h1,h2,h3,h4,h5,h6,ul,ol,li,u,div[class],i,strong,b,q[cite],span[class],blockquote[cite],hr,p[class]" label="COM_KA_FIELD_REVIEWS_HTML_TAGS_LABEL" description="COM_KA_FIELD_REVIEWS_HTML_TAGS_LABEL_DESC" filter="string" cols="60" rows="5" class="span11" />
	</fieldset>
	<fieldset name="reviews_save" label="COM_KA_REVIEWS_SETTINGS_SAVE_LABEL">
		<field name="reviews_premod" type="radio" class="btn-group" default="1" label="COM_KA_REVIEWS_SETTINGS_SAVE_PREMOD_LABEL" description="COM_KA_REVIEWS_SETTINGS_SAVE_PREMOD_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="reviews_save_captcha" type="radio" class="btn-group" default="0" label="COM_KA_REVIEWS_SETTINGS_SAVE_CAPTCHA_LABEL" description="COM_KA_REVIEWS_SETTINGS_SAVE_CAPTCHA_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="reviews_send_email_touser" type="radio" class="btn-group" default="0" label="COM_KA_REVIEWS_SETTINGS_SAVE_EMAIL_TOUSER_LABEL" description="COM_KA_REVIEWS_SETTINGS_SAVE_EMAIL_TOUSER_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="reviews_send_email" type="radio" class="btn-group" default="0" label="COM_KA_REVIEWS_SETTINGS_SAVE_EMAIL_LABEL" description="COM_KA_REVIEWS_SETTINGS_SAVE_EMAIL_LABEL_DESC" filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="reviews_emails" type="textarea" default="" label="COM_KA_REVIEWS_SETTINGS_SAVE_SEND_EMAIL_LABEL" description="COM_KA_REVIEWS_SETTINGS_SAVE_SEND_EMAIL_LABEL_DESC" filter="string" cols="60" rows="5" class="span11" />
	</fieldset>
	<field name="rules" type="rules" label="JFIELD_RULES_LABEL" translate_label="false" class="inputbox" filter="rules" component="com_kinoarhiv" section="component" validate="rules" />
</form>
