.red {
	color: red;
}

.gray {
	color: #999;
}

.red-label {
	color: red;
	font-weight: bold;
}

/* override joomla styles */
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    outline: none !important;
    outline-offset: -2px;
}
/* */

/* override jqueryUI styles: .ui-widget button */
.input-append button {
	font-size: 13px !important;
}

#ui-datepicker-div {
	z-index: 10001 !important;
}

#movie_tabs .ui-tabs-panel {
	padding: 1em 0.5em;
}

#page-cast-crew, #page-awards, #page-premieres, #page-releases {
	padding: .5em 0 !important;
}

.uploader .ui-accordion-content {
	padding: 0 !important;
}

.uploader .ui-accordion-content #uploader_container {
	padding: 0 !important;
}

.control-panel a.btn, #toolbar .btn {
	margin: 4px 0 4px 4px;
	min-width: 100px;
}

.ui-progressbar {
	position: relative;
}

.ui-menu .ui-menu-item a {
	padding: 2px 0.8em !important;
}

.form-horizontal .controls {
	margin-left: 200px !important;
}

.form-horizontal .settings-paths {
	text-align: right;
}

.nav-tabs a:focus {
	outline: none !important;
}

label.hasTip {
	border-bottom: 1px dashed #ddd;
}

.table th, .table td {
	border-left: 1px solid #eee;
	border-top: none !important;
	border-bottom: 1px solid #eee;
}

.table thead {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.table th:last-child, .table td:last-child {
	border-right: 1px solid #eee;
}

.flag-dd {
	margin: 0 4px 2px 0;
}

.rel-menu {
	display: none;
	position: absolute;
}

#relations_menu {
	position: relaive;
}

.searchFilter .input-elm {
	width: 300px !important;
}

.searchFilter .error th {
	border: none !important;
	font-weight: normal !important;
	padding: 3px 5px;
}

.toggle-editor {
	float: left !important;
}

.rel-link {
	display: inline-block;
	margin: 5px 0 0 10px;
}

.span12.actors-container, .span12.awards-container {
	margin-left: 0 !important;
	margin-top: 3px;
}

.dd-relations {
	display: inline-block;
}

.dd-relations-menu {
	list-style: none outside none;
	font-size: 1.2em !important;
    margin: 0;
    outline: 0 none;
    padding: 2px 6px;
	display: none;
	position: absolute;
}

.ajax-loading {
	background: url('../images/icons/spinner.gif') no-repeat left center !important;
	padding-left: 20px;
}

.rel-names-dlg label.hasTip, .rel-awards-dlg label.hasTip {
	border-bottom: 1px dashed #fff;
}

.rel-names-dlg a.btn-small, .rel-awards-dlg a.btn-small {
	margin-top: 3px;
}

.form_career, .form_name, .rel-form_name {
	margin-left: 0 !important;
}

#dialog-name-add legend {
	margin-bottom: 8px !important;
}

table .ui-state-highlight { height: 1.5em; line-height: 1.2em; }
#articleList .ui-sortable td { background: #fff; }
.sortable-handler { display: inline-block; padding-top: 4px; }
.sortable-handler:hover { cursor: move;}

.ui-message a {
	text-decoration: underline;
}

#form_is_actors input, #form_voice_artists input {
	display: inline-block;
	float: none;
	margin-right: 10px;
}

#form_is_actors label, #form_voice_artists label {
	display: inline-block;
	margin-right: 50px;
}

#uploader a:focus {
	outline: none !important;
}

.table.gallery-list th, .table.gallery-list td {
	padding: 4px 8px;
}

.gallery_tabs .ui-tabs-panel {
	padding: .5em !important;
}

.gallery-list a.error_image {
	background: url("../images/icons/error.png") no-repeat left center;
	padding-left: 20px;
}

.gallery-list a.error_image + a {
	color: red !important;
}

.tooltip-img-content {
	background-color: #fff;
	border: 1px solid #ccc;
	display: none;
	position: absolute;
	padding: 4px;
	z-index: 10001;
	*zoom: 1;
}

span.icon {
	cursor: default;
}

#v_sortable, #sub_sortable, #cap_sortable, #chap_sortable {
	list-style-type: none; margin: 0; padding: 0;
}

#v_sortable li, #sub_sortable li, #cap_sortable li, #chap_sortable li {
	margin: 0 3px 3px 3px; padding: 0.2em; height: 14px; cursor: default;
}

.cmd-refresh-filelist, .cmd-file-remove.all.subtitle {
	display: inline-block;
	float: right;
}

.admform-upload-trailers h3 {
	padding: 3px 4px;
}

.video_screenshot {
	margin: 0 3px; padding: 0.2em; height: 14px; cursor: default;
}

.dialog .err_msg {
	display: none;
}

.urls_form_toolbar {
	margin: 3px 0;
}

.urls_form_toolbar a {
	padding-right: 5px;
}

.urls_form_toolbar a:focus {
	outline: none !important;
}

img.movie-poster-preview {
	padding: 2px;
	height: 110px !important;
	max-width: 110px;
	display: block;
}

img.movie-poster-preview.y-poster {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}

#jform_person_list_limit,
#jform_premieres_list_limit,
#jform_releases_list_limit,
#jform_introtext_actors_list_limit,
#jform_slider_min_item,
#jform_slider_max_item {
	border: 0;
	margin: 0;
}

.rel-form_premiere {
	margin-Left: 0 !important;
}

.layout_img_upload {
	display: none;
	padding: 0.2em !important;
}

.trailer-image-upload .plupload_scroll .plupload_filelist {
	height: 185px;
}

.trailer-image-upload li.plupload_droptext {
	line-height: 165px;
}

#list_awards a {
	text-decoration: underline;
}